# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Repositoris\web_shop_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
